<div class="container">
  <div class='row'>
    <div class='mx-auto col-10'>
      <h1 class='mx-auto col-4 mb-5'>Dogsって？</h1>
      <p class='mx-auto col-10 mb-5'>
        Dogsは、自分の飼っているペットの写真を投稿し、犬好きと交流を深められるSNSサイトです。<br><br>
        もちろんペットを飼っていない方でも、投稿を見たり、コメントしたりすることができます。<br><br>
        あなたの可愛い愛犬の写真を世界に発信しましょう！
      </p>
      <h3 class='mx-auto col-5 mb-5'>どういう時に使うの？</h3>
      <div class='mx-auto col-7 mb-5'>
        <p>利用できるシーンを一部紹介します。</p>
        <ul>
          <li>飼っているペットの成長記録</li>
          <li>お気に入りのペットの写真を発信</li>
          <li>同じペット好きな人とのコミュニティを作る</li>
          <li>育て方や病院選び等で悩んでいる事を解決したいとき</li>
          <li>ペットが飼えない方でも写真を見て癒されたいとき</li>
        </ul>
        <p>その他にも多様な使い方ができます！</p>
      </div>
    </div>
  </div>
</div>